@{ 
    ViewBag.Title = "Airport Core v0.3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:50px; text-align:center;">
    <h1>Airport Core v0.3</h1>
    <br />
    <a asp-controller="Airports" class="btn btn-primary" style="margin-bottom: 60px; margin:auto; margin-bottom:25px; display:table" role="button">Show Airports</a>
    <a asp-controller="Flights" class="btn btn-primary" style="margin-bottom: 25px; margin:auto; display:table" role="button">Show/Add Flights</a>
</div>